*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --color-1:#2e323f;
  --color-2:#3B4050;
  --color-3:#6F737F;
  --color-4:white;
  --color-5:#A59678;
}

@font-face{
  font-family: "Oswald";
  src: url("./Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
}
@font-face{
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
body{
  margin:0;
  font-family: "Oswald";
  line-height: 1.1;
  font-size: 1.5rem;
}

header{
  background-color: var(--color-1);
}

img{
  max-width: 100%;
}

h1{
  font-size: clamp(40px, 12vw, 90px)
}

h2{
  font-size: 1.875rem;
}

a{
  display: inline-block;
}

.hidden{
  display: none;
}

nav{
  display: flex;
}

section{
  background-color: #f1f1f1;
  padding: 2em 0;
}

p, li{
  font-family: "Montserrat";
}

main{
  background-color: var(--color-2);
  color: white;
  padding: 2em 0;
}

footer{
  background-color: var(--color-2);
  color: white;
  padding: 1em 0;
  margin-top: 1em;
}

.article{
  margin-top: 1em;
}


footer h2{
  font-size: 2.25rem;
}

footer h3{
  color: var(--color-5);
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}


.main__link{
  color: white;
  text-decoration-line: none;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color-5);
  padding: 0.25em 0.75em;
  border-radius: 100px;
}



.nav__list{
  list-style-type: none;
  display: none;
}

.list__button{
  text-decoration-line: none;
  color: white;
  background-color: var(--color-5);
  padding: 0.25em 0.75em;
  border-radius: 50px;
}

.text-color{
  color: var(--color-5);
}

.col{
  text-align: center;
}

.col h2{
  color: var(--color-5);
}

.article__text h2{
  color: var(--color-5);
  font-size: 2.25rem;
}

aside{
  color: var(--color-4);
  text-align:center;
  background-color: var(--color-2);
  padding: 0.25em 0.5em;
  margin-top: 1em;
}

aside p{
  font-size: 1.125rem;
}

@media (min-width: 700px){
  .nav{
    visibility: visible;
    color: white;
    justify-content: space-between;
  }

  .nav__list{
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .hidden{
    display:flex;
  }

  .aside{
    display: flex;
    gap: 20px;
  }

  

}

@media (min-width: 1000px) {

  .row{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .self{
    margin-left: 3em;
    align-self: flex-start;
  }

  .footer__align{
    text-align: center;
  }

  .d-flex{
    display: flex;
    text-align: left;
    gap: 100px;
    algin-items: center;
  }




}